[client]
port=3306
socket=/run/mysqld/mysqld.sock
default-character-set=utf8mb4

[mysqld]
port=3306
socket=/run/mysqld/mysqld.sock
character-set-server=utf8mb4
server-id=1

[mysqldump]
quick

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/run/mysqld/mysqld.pid
